.footer {
    background-color: #D8D8D8;
    text-align: center;
    padding: 10rem 5rem;
    margin-top: 25rem;

    h1 {
        font-family: 'Georgia', 'sans-serif';
        font-size: 4rem;
    }
    h2 {
        font-family: 'Arial', 'sans-serif';
        font-size: 1.4rem;
    }
}