.navbar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
        font-family: 'Montserrat', 'sans-serif';
        font-size: 3rem;
        text-decoration: underline;
        color: black;
    }


    &-items {
        list-style: none;
        display: inline-block;

        &--link {
            font-family: 'Roboto';
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
            transition: .2s all;

            &:hover {
                color: #816492;
                font-weight: bold;
            }
        }

        li {
            display: inline-block;
            
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
}

.register {
    border: 2px solid #16817A;
    padding: 0.5rem 3rem;
    color: #16817A;

    &:hover {
        border: 2px solid #816492;
    }
}