.register-page {
    margin-top: 15rem;
}

.register-title {
    font-family: 'Vidaloka', 'sans-serif';
    font-size: 4rem;
    margin-bottom: 2rem;
}

.register-form {

    &-label {
        display: block;

        font-family: 'Roboto', 'sans-serif';
        font-size: 2rem;
    }

    &-input {
        width: 33rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 5px;
    }

    &-submit {
        display: block;
        margin-top: 2rem;

        font-family: 'Roboto', 'sans-serif';
        padding: 0.5rem 5rem;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}